<h1>Hello <%= @user.username %>, thank you for joining COGENT</h1>

<p>
  Welcome to our platform, please be kind as our service is still in Beta. For any questions, concerns
  or suggestion please email Liam Ellis at liamhellis@gmail.com. Thank you.
</p>
<p>
  Please follow the link below to activate your account
</p>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
