<div id="welcome" class = "valign-wrapper">
<div class="overlay"></div>
  <section>
    <h1 class="cogent">COGENT</h1>
    <ul class="register">
      <li class="auth_links"><%= link_to "SIGN UP", 'auth/facebook', id: "sign_up", class: "" %></li>
      <li class="auth_links"><%= link_to "LOG IN", 'auth/facebook', id: "log_in", class: "" %></li>
    </ul>
  </section>

</div>
