<div id="welcome" class = "valign-wrapper">
  <div class="overlay"></div>
  <div class="row">
      <h1 class="title center white-text valign">COGENT</h1>
      <div class="row"></div>
      <div class="center-align row">
        <%= link_to "SIGN UP", 'auth/facebook', id: "sign_up", class: "" %>
      </div>
  </div>
</div>
