<div id="welcome" class = "valign-wrapper">
  <div class="overlay"></div>
  <div class="row">
    <div id="sign_up_circle" class="circle valign white-text blue-grey lighten-4">
      <h1 class="title center white-text valign">CoGent</h1>
      <div class="row"></div>
      <div class="divider"></div>
      <div class="center-align row">
        <%= link_to "FB", 'auth/facebook', id: "sign_up", class: "" %>
      </div>
    </div>
  </div>
</div>
