<h1>Greetings</h1>

<p>
  You have been hand picked to join our exclusive beta launch. Please follow the link below.
</p>

<%= link_to "Validate Invitation", invitation_signup_url(@invitation.invitation_token) %>
