<h1>Well, we've come this far...</h1>
<h3>You have been invited to join <%= @group.name %>. Be sure to thank <%= @inviter_user.username %></h3>



<p>
  Last step friend. Let's get you registered.<br>
  <li class=''><%= link_to "SIGN UP", 'auth/facebook'%></li>
</p>
