<!-- <div id="add_tag_buttons" class=""> -->
  <li class="tag_button">
    <%= button_to "Dope", post_path(post), { params: { value: 'dope'}, method: 'patch', remote: true, class: ""} %>
  </li>
  <li class="tag_button">
    <%= button_to "Meh", post_path(post), { params: { value: 'meh'}, method: 'patch', remote: true, class: ""} %>
  </li>
  <li class="tag_button">
    <%= button_to "Yikes", post_path(post), { params: { value: 'yikes'}, method: 'patch', remote: true, class: ""} %>
  </li>
<!-- </div> -->
