// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
  height: 100vh;
  width: 100%;
  background: url(fogBackground.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin: auto;
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
#welcome section {
  position: relative;
  top: 40%;
}
.cogent {
  color: white;
  position: relative;
  z-index: 2;
  font-size: 2em;
  letter-spacing: 0.25em;
  line-height: 1;
  text-align: center;
}
.register {
  list-style-type: none;
  padding: 0!important;
}
.auth_links {
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  display: inline;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 1;
  text-transform: uppercase;
  margin: 10px;
  padding-right: 2px;
  text-align: left;
}
#sign_up, #log_in {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 1px gray;
  color: white;
}
